.chefs_container{
    width:98%;
    height:max-content;
    background:#fff3e0;
    border-radius:20px;
    /* display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;     */
}
.chefs_container h2{
    padding: 20px;
    color:green;

}
.chefprofile_input{
    width:97%;
    height: 5vh;
    display:flex;
    margin-top:20px;
    align-items: center;
    justify-content:space-evenly;
    background:white;
    border-radius:10px;
}
.chefprofile_input input{
    width:95%;
    height: 100%;
    font-family: Roboto;
    font-size: 14px;
    outline:none;
    text-align: left;
    border:none;
    color: #9e9e9e;
}
.chefprofile_icon{  
    width: 20px;
    height: 20px;
    flex-grow: 0;
    color: #9e9e9e;  
}
.chefprofile_main{
    width:100%;
    height:max-content;
    display:flex;
    flex-wrap:wrap;
}
.chefprofile_main_chef{
    width:25%!important;
    height:50vh;
    margin: 20px;
    border-radius:20px;
    background: white;
}
.chefprofile_main_chef div{
    width:85%;
    height:57%;
    border-radius:20px;
    margin:25px auto;
}
.chefprofile_main_chef div img{
    width:100%;
    border-radius:20px;
    height:100%;
}
.chefprofile_main_chef h6{
    width:100%;
    border-radius:20px;
    height:10%;
    font-size:1.2em;
    margin:0 0 0 30px;
    color:black!important;
}
.chefprofile_main_chef h6 a{ 
color:black!important;
}
.chefprofile_main_chef button{
    width:85%;
    border-radius:5px;
    height:12%;
    z-index:111;
    border:2px solid green;
    color:green;
    font-size:1em;
    font-weight:bold;
    background:transparent;
    margin:0 0 0 30px;
}